<!doctype html><!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]--><!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]--><!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]--><!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]--><head><meta charset="utf-8"><title></title><meta name="description" content=""><meta name="viewport" content="width=device-width, height=device-height"><link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css"><!-- Place favicon.ico and apple-touch-icon.png in the root directory --><link rel="stylesheet" href="styles/vendor.css"><link rel="stylesheet" href="styles/main.css"><body ng-app="nextBartApp"><!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]--><!-- Add your site or application content here --><div class="container" data-ui-view="HomeView"></div><!-- Google Analytics: change UA-XXXXX-X to be your site's ID --><script>(function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');</script><!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]--><script src="cordova.js"></script><script src="scripts/libs/xml2json.js"></script><script src="scripts/vendor.js"></script><script src="scripts/scripts.js"></script><!-- Begin Templates --><script type="text/ng-template" id="/views/dashboard.html"><div class="dashboard">
    <div data-watch-clock=""></div>
    <div class="origin" data-ng-click="$state.go('stations', {mode: 'origin'})">
        <span data-ng-if="!travel.origin">Select Origin</span>
        {{travel.origin.name}}
    </div>
    <div class="swap" data-ng-click="travel.swap()">
        <i class="fa fa-refresh rotate-90 fa-2x"></i>
    </div>
    <div class="destination" data-ng-click="$state.go('stations', {mode: 'destination'})">
        <span data-ng-if="!travel.destination">Select Destination</span>
        {{travel.destination.name}}
    </div>
    <button class="search-button button" data-ng-if="travel.origin && travel.destination"
            data-ng-click="travel.search()">
        Search for schedules
    </button>
    <div class="time-lapse">
        <data-time-lapse data-ng-if="travel.timer" data-timer="{{travel.timer}}"></data-time-lapse>
    </div>
    <ul data-ng-if="travel.results">
        <li data-ng-repeat="trip in travel.results.schedule.request.trip">
            <div class="trip-divider" data-ng-if="trip.leg.length">
                <div class="leg" data-ng-repeat="leg in trip.leg">
                    {{leg._origin}} to {{leg._destination}} at {{leg._origTimeMin}} and will reach at
                    {{leg._destTimeMin}}
                    <div data-ng-if="!$last">
                        Connect Via
                    </div>
                </div>
            </div>
            <div class="trip-divider" data-ng-if="!trip.leg.length">
                {{trip.leg._origTimeMin}} and will reach at {{trip.leg._destTimeMin}}
            </div>
        </li>
    </ul>
</div></script><script type="text/ng-template" id="/views/directives/clock.html"><div class="clock">
    <span>Time: </span>
    <span>{{time.hours}}</span>
    <span class="colon animation-blink">:</span>
    <span>{{time.minutes}}</span>
    <span>{{time.mode}}</span>
</div></script><script type="text/ng-template" id="/views/fare-calculator.html"><div class="fare-calculator">
    {{fare}}
</div></script><script type="text/ng-template" id="/views/find-bart-station.html"><div class="find-bart-station">
    <div class="stations">
        <ul data-ng-repeat="station in bart.stations">
            <li>{{station.name}} {{station.distance}}</li>
        </ul>
    </div>
</div></script><script type="text/ng-template" id="/views/menu-panel.html"><div class="menu-panel">
    <ul>
        <li data-ng-click="$state.go('dashboard')">Go to Dashboard</li>
        <li data-ng-click="$state.go('fare')">Go to Fare</li>
        <li data-ng-click="$state.go('location')">Go to Locations</li>
    </ul>
</div></script><script type="text/ng-template" id="/views/next-schedule.html"><p>This is the next-schedule view.</p></script><script type="text/ng-template" id="/views/play-board.html"><bingo-board data-board="board"></bingo-board></script><script type="text/ng-template" id="/views/route-favorite.html"><p>This is the route-favorite view.</p></script><script type="text/ng-template" id="/views/route-schedule.html"><p>This is the route-schedule view.</p></script><script type="text/ng-template" id="/views/station-list.html"><div class="station-list">
    <input type="text" data-ng-model="stationFilter" autofocus="" placeholder="Search for a station"/>
    <ul>
        <li data-ng-repeat="station in stations.list | filter:stationFilter" data-ng-click="stations.select(station)">
            <div>
                {{station.name}}
            </div>
        </li>
    </ul>
</div></script><!-- End Templates -->