<!doctype html><!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]--><!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]--><!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]--><!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]--><head><meta charset="utf-8"><title></title><meta name="description" content=""><meta name="viewport" content="width=device-width, height=device-height, maximum-scale=1"><link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css"><link href="http://fonts.googleapis.com/css?family=Courgette" rel="stylesheet" type="text/css"><!-- Place favicon.ico and apple-touch-icon.png in the root directory --><link rel="stylesheet" href="styles/vendor.css"><link rel="stylesheet" href="styles/main.css"><body ng-app="nextBartApp"><!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]--><!-- Add your site or application content here --><div class="container" data-ui-view="HomeView"></div><web-intent></web-intent><!-- Google Analytics: change UA-XXXXX-X to be your site's ID --><script>(function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        //m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');</script><!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]--><script src="cordova.js"></script><script src="scripts/libs/xml2json.js"></script><script src="scripts/vendor.js"></script><script src="scripts/scripts.js"></script><!-- Begin Templates --><script type="text/ng-template" id="/views/dashboard.html"><div class="dashboard">
    <watch-clock></watch-clock>
    <div class="origin" data-ng-click="$state.go('stations', {mode: 'origin'})">
        <span data-ng-if="!travel.origin">Select Origin</span>
        <span data-ng-if="travel.origin">
            {{travel.origin.name}}
            <i class="fa fa-pencil"></i>
        </span>
    </div>
    <div class="swap" data-ng-click="travel.swap()">
        <i class="fa fa-refresh rotate-90 fa-2x"></i>
    </div>
    <div class="destination" data-ng-click="$state.go('stations', {mode: 'destination'})">
        <span data-ng-if="!travel.destination">Select Destination</span>
        <span data-ng-if="travel.destination">
            {{travel.destination.name}}
            <i class="fa fa-pencil"></i>
        </span>
    </div>
    <div class="advanced-search">
        <div class="search-box center" data-ng-click="showAdvancedOptions()">
            <i class="fa fa-cog"></i>
            <span>Advanced search</span>
        </div>
        <div class="search-contents" data-ng-show="advanced">
            <input type="datetime-local" placeholder="Select Date & Time" data-ng-model="advanced.datetime" class="date-time" />
        </div>
    </div>
    <button class="search-button button" data-ng-if="travel.origin && travel.destination"
            data-ng-click="travel.search()">
        Search for schedules
    </button>
    <div>
        <div class="time-lapse-container animate-rotate" data-ng-if="travel.timer">
            <data-time-lapse data-timer="{{travel.timer}}"></data-time-lapse>
        </div>
        <ul data-ng-if="travel.results">
            <li data-ng-repeat="trip in travel.results.schedule.request.trip"
                data-ng-click="$state.go('details',{id: $index})"
                data-ng-class="{'animate-bounce-left': $even, 'animate-bounce-right': $odd}">
                <div class="trip-divider" data-ng-if="trip.leg.length">
                    <div class="ba-depart-info">
                        <div class="connection-information center">
                            This travel has a <i class="fa fa-arrows-h"></i> connection
                        </div>
                        <div class="leg" data-ng-repeat="leg in trip.leg">
                            <div class="inline left text-left">
                                {{leg._origin}}
                                <div class="value">({{leg._origTimeMin}})</div>
                            </div>
                            <div class="inline center arrow">
                                <i class="fa fa-long-arrow-right"></i>
                            </div>
                            <div class="inline right text-right">
                                {{leg._destination}}
                                <div class="value">({{leg._destTimeMin}})</div>
                            </div>
                            <div class="center" data-ng-if="!$last">
                                Connect Via
                            </div>
                            <div class="center" data-ng-if="$last">
                                <div>
                                    <span class="cost-title label">
                                        Travel Cost:
                                    </span>
                                    <span class="value cost">
                                        {{trip._fare | currency}}
                                    </span>
                                </div>
                                <div>
                                    <span class="time-title label">
                                    Total Travel Time:
                                    </span>
                                    <span class="value travel-time">
                                        {{trip | travelTimeFilter}} <span class="small">mins</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="trip-divider" data-ng-if="!trip.leg.length">
                    <div class="ba-depart-info">
                        <div class="inline left text-left">
                        <span class="depart-title label">
                            Starts:
                        </span>
                        <span class="value">
                            {{trip.leg._origTimeMin}}
                        </span>
                        </div>
                        <div class="inline center arrow">
                            <i class="fa fa-long-arrow-right"></i>
                        </div>
                        <div class="inline right text-right">
                        <span class="reach-title label">
                            Reaches:
                        </span>
                        <span class="value">
                            {{trip.leg._destTimeMin}}
                        </span>
                        </div>
                        <div class="center">
                            <div>
                                <span class="cost-title label">
                                    Travel Cost:
                                </span>
                                <span class="value cost">
                                    {{trip._fare | currency}}
                                </span>
                            </div>
                            <div>
                                <span class="time-title label">
                                Total Travel Time:
                                </span>
                                <span class="value travel-time">
                                    {{trip | travelTimeFilter}} <span class="small">mins</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div></script><script type="text/ng-template" id="/views/directives/ba-depart-info.html"><div class="ba-depart-info">
    <div class="inline">
        <span class="depart-title">
            Starts:
        </span>
        <span>
            {{trip.leg._origTimeMin}}
        </span>
    </div>
    <div class="inline">
        <span class="reach-title">
            Reaches:
        </span>
        <span>
            {{trip.leg._destTimeMin}}
        </span>
    </div>
    <div class="center">
        <span class="cost-title">
            Travel Cost:
        </span>
        <span>
            {{trip._fare | currency}}
        </span>
    </div>
</div></script><script type="text/ng-template" id="/views/directives/back-button.html"><div class="back-button">
    <div class="button" data-ng-click="back()">
        <i class="fa fa-arrow-circle-left"></i>
        Back
    </div>
</div></script><script type="text/ng-template" id="/views/directives/clock.html"><div class="clock">
    <span>
        <i class="fa fa-clock-o"></i>
    </span>
    <span>{{time.hours}}</span>
    <span class="colon animation-blink">:</span>
    <span>{{time.minutes}}</span>
    <span>{{time.mode}}</span>
</div></script><script type="text/ng-template" id="/views/directives/time-lapse.html"><div class="time-lapse animate-rotate">
    <div class="lapse" data-ng-if="!passed">
        {{show.min}}
        <span class="colon animation-blink">:</span>
        {{show.sec}}
    </div>
    <div class="lapse message" data-ng-if="passed">
        {{passed}}
    </div>
</div></script><script type="text/ng-template" id="/views/directives/web-intent.html"><div class="web-intent">
    <div class="intent" data-ng-if="messaage">
        <span class="message">{{message}}</span>
    </div>
</div></script><script type="text/ng-template" id="/views/fare-calculator.html"><div class="fare-calculator">
    {{fare}}
</div></script><script type="text/ng-template" id="/views/find-bart-station.html"><div class="find-bart-station">
    <div class="stations" data-ng-if="!loading">
        <ul>
            <li data-ng-repeat="station in bart.stations">
                {{station.name}} ~ {{station.distance | distance}}
                <a ng-href="geo:{{station.gtfs_latitude}},{{station.gtfs_longitude}}">open in maps</a>
            </li>
        </ul>
        <div>
            {{reason}}
        </div>
    </div>
    <div class="spinner" data-ng-if="loading"></div>
</div></script><script type="text/ng-template" id="/views/menu-panel.html"><div class="menu-panel">
    <ul>
        <li data-ng-repeat="menu in menus" data-ng-click="$state.go(menu.state)">
            <span class="icon">
                <i class="fa {{menu.icon}}"></i>
            </span>

            <div class="label">
                {{menu.title}}
            </div>
        </li>
    </ul>
</div></script><script type="text/ng-template" id="/views/next-schedule.html"><p>This is the next-schedule view.</p></script><script type="text/ng-template" id="/views/play-board.html"><bingo-board data-board="board"></bingo-board></script><script type="text/ng-template" id="/views/route-details.html"><back-button data-go="$state.go('dashboard')"></back-button>
<div class="route-details">
    <div class="trip-divider" data-ng-if="trip.leg.length">
        <div class="ba-depart-info">
            <div class="connection-information center">
                This travel has a <i class="fa fa-arrows-h"></i> connection
            </div>
            <div class="leg" data-ng-repeat="leg in trip.leg">
                <div class="inline left text-left">
                    {{leg._origin}}
                    <div class="value">({{leg._origTimeMin}})</div>
                </div>
                <div class="inline center arrow">
                    <i class="fa fa-long-arrow-right"></i>
                </div>
                <div class="inline right text-right">
                    {{leg._destination}}
                    <div class="value">({{leg._destTimeMin}})</div>
                </div>
                <div class="center" data-ng-if="!$last">
                    Connect Via
                </div>
                <div class="center" data-ng-if="$last">
                    <div>
                        <span class="cost-title label">
                            Travel Cost:
                        </span>
                        <span class="value cost">
                            {{trip._fare | currency}}
                        </span>
                    </div>
                    <div>
                        <span class="time-title label">
                        Total Travel Time:
                        </span>
                        <span class="value travel-time">
                            {{trip | travelTimeFilter}} <span class="small">mins</span>
                        </span>
                    </div>
                    <div data-ng-if="leg._bikeflag === '1'">
                        <i class="fa fa-bicycle"></i> Allowed <span class="type-success"><i class="fa fa-thumbs-up"></i></span>
                    </div>
                    <div data-ng-if="leg._bikeflag !== '1'">
                        <i class="fa fa-bicycle"></i> NOT Allowed <span class="type-failure"><i class="fa fa-thumbs-down"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="trip-divider" data-ng-if="!trip.leg.length">
        <div class="ba-depart-info">
            <div class="inline left text-left">
                <span class="depart-title label">
                    Starts:
                </span>
                <span class="value">
                    {{trip.leg._origTimeMin}}
                </span>
            </div>
            <div class="inline center arrow">
                <i class="fa fa-long-arrow-right"></i>
            </div>
            <div class="inline right text-right">
                <span class="reach-title label">
                    Reaches:
                </span>
                <span class="value">
                    {{trip.leg._destTimeMin}}
                </span>
            </div>
            <div class="center">
                <div>
                    <span class="cost-title label">
                        Travel Cost:
                    </span>
                    <span class="value cost">
                        {{trip._fare | currency}}
                    </span>
                </div>
                <div>
                    <span class="time-title label">
                    Total Travel Time:
                    </span>
                    <span class="value travel-time">
                        {{trip | travelTimeFilter}} <span class="small">mins</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div></script><script type="text/ng-template" id="/views/route-favorite.html"><p>This is the route-favorite view.</p></script><script type="text/ng-template" id="/views/route-map.html"><div class="route-map">
    <p>This is the route-map view.</p>
</div></script><script type="text/ng-template" id="/views/route-schedule.html"><p>This is the route-schedule view.</p></script><script type="text/ng-template" id="/views/schedules.html"><div class="schedules">
    <p>This is the schedules view.</p>
</div></script><script type="text/ng-template" id="/views/station-list.html"><div class="station-list">
    <input type="text" data-ng-model="stationFilter" autofocus="" placeholder="Search for a station"/>
    <ul>
        <li class="animate-repeat" data-ng-repeat="station in stations.list | filter:stationFilter" data-ng-click="stations.select(station)">
            <div>
                {{station.name}}
            </div>
        </li>
    </ul>
</div></script><!-- End Templates -->